In [1]:
import pandas as pd
import os
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_percentage_error
import seaborn as sns 

FILES_FOLDER = {
    "data_for_data_challenge": [
        "data_for_data_challenge/building_data.feather",
        "data_for_data_challenge/meter_data.feather",
        "data_for_data_challenge/weather_data.feather" # The dataset test will be released one hour before the end of the Data Challenge
    ]
}


def load_data(folder, data_dir, dict_files=FILES_FOLDER):
    files = dict_files[folder]
    dataframes = []
    print(":: Start loading data")
    for name_file in tqdm(files):
        dataframe = pd.read_feather(os.path.join(data_dir, name_file))
        dataframes.append(dataframe)
    return dataframes


building, meters, weather = load_data("data_for_data_challenge", "")

meters["naive_pred"] = meters["meter_reading"].mean()

print(
    "Naive performance on the training set :",
    mean_absolute_percentage_error(meters["meter_reading"], meters["naive_pred"]),
)

:: Start loading data

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00, 17.35it/s]

Naive performance on the training set : 1.497798e+18

In [2]:
building.head()

,index,site_id,building_id,primary_use,sub_primary_use,square_feet,lat,lng,year_built
0,0,0,83,Other,Other,2070.0,28.52,-81.400002,1996.0
1,1300,0,56,Lodging/residential,Residence Hall\t,60088.0,28.52,-81.400002,2013.0
2,2645,0,38,Office,Office,12769.0,28.52,-81.400002,2013.0
3,3939,0,71,Parking,Parking Garage,387638.0,28.52,-81.400002,1998.0
4,5294,0,46,Retail,Retail,9045.0,28.52,-81.400002,2016.0

In [ ]:
building['primary_use'].isna().sum()